
<div class="jumbotron">
  <div class="container">
    <h1> Welcome! </h1>
    <p> Get familiar with the local cake plug.
  </div>
</div>


<center>
  <a href="/pages/party_packs">
<%= image_tag("partypacks.jpg", :alt => "rss feed", :class => "img-rounded", height: 480 , width: 400) %>
    <a href="/pages/favorites">
<%= image_tag("favorites.jpg", :alt => "rss feed", :class => "img-rounded", height: 480 , width: 400) %>
     <a href="/pages/blog">
<%= image_tag("adblogery.jpg", :alt => "rss feed", :class => "img-rounded", height: 480 , width: 400) %>
    </a>
  </a>
  </a>

      </center>
