<div class="alert alert-warning" role="alert">Thank you for visiting! Return soon for site updates.</div>
<center>
<%= image_tag("blogsoon.jpg", :alt => "rss feed", :class => "img-rounded", height: 700 , width: 500) %>
</center>
