<center>
<%= image_tag("rename.jpg", :alt => "rss feed", :class => "img-rounded", height: 900 , width: 680) %>
</center>
    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">


        <div class="featurette" id="about">

            <h2 class="featurette-heading">
                <span class="text-muted">We would love to answer any questions or special request!</span>
            </h2>
            <p class="lead"></p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">

            <h2 class="featurette-heading">
                <span class="text-muted">Let's plan!</span>
            </h2>
            <p class="lead">Start planning an event today that your guest will not forget. Custom orders, custom designs, and custom decorations allows your event to become exactly what you have in mind! </p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
          <h2 class="featurette-heading"> <p> Quick response!</p>
            <span class="text-muted">Email.Address</span>
            </h2>
            <p class="lead"> thecakeplug@gmail.com </p>
        </div>

        <hr class="featurette-divider">


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<!-- // -->
<div class="container">
    <hr>


                <a href="https://www.facebook.com/ShopAddictedBakery"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/KalenaPlease"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://instagram.com/thecakeplug"><i id="social-in" class="fa fa-instagram fa-3x social"></i></a>
</div>
    <hr>

<br />

<!-- Social Footer, Single Coloured -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->